doctype html
html(lang='en')
    head
        title עידכון על הפקדת כסף בחשבון הנאמנות של סייפשור
    body
        h2 עידכון על הפקדת כסף בחשבון הנאמנות של סייפשור
        p.
           שמחים להודיע שתשלום עבור עיסקה מס' #{transactionId} נקלט בהצלחה במערכת סייפשור. ניתן להתעדכן בהתקדמות העיסקה #[a( href=`${link}` ) באזור האישי].