doctype html
html(lang='en')
    head
        title הודעה על הפקדת כסף בחשבון הנאמנות
    body
        h2 הודעה על הפקדת כסף בחשבון הנאמנות
        p.
           התקבל עידכון מ#{inChargeUserFullName} על הפקדת כסף לעיסקה מס' #{transactionId}