doctype html
html(lang='en')
    head
        title עידכון על העברת מוצר
    body
        h2 עידכון על העברת מוצר
        p.
           התקבל עידכון מ #{inChargeUserFullName} שהמוצר  עבור עיסקה מס' #{transactionId} הועבר אליך. ניתן להתעדכן בהתקדמות העיסקה #[a( href=`${link}` ) באזור האישי].