doctype html
html(lang='en')
    head
        title עידכון על קבלת מוצר
    body
        h2 עידכון על קבלת מוצר
        p.
           התקבל עידכון מ #{inChargeUserFullName} שהמוצר  עבור עיסקה מס' #{transactionId} התקבל. ניתן להתעדכן בהתקדמות העיסקה #[a( href=`${link}` ) באזור האישי].