doctype html
html(lang='en')
    head
        title פרטיך עודכנו בהצלחה
    body
        h2 פרטיך עודכנו בהצלחה
        p.
            פרטי המשתמש שלך עודכנו בהצלחה. ניתן לעקוב ולהתעדכן על התקדמות העיסקאות #[a( href=`${link}`) באזור האישי].