doctype html
html(lang='en')
    head
        title עידכון על תוצאות בירור
    body
        h2 עידכון על תוצאות בירור
        p.
           תוצאות הבירור לעיסקה מס' #{transactionId} ממתינים לך #[a( href=`${link}` ) באזור האישי].