doctype html
html(lang='en')
    head
        title ברכות על הצטרפותך לסייפשור
    body
        h2 ברכות על הצטרפותך לסייפשור
        p.
            הרשמתך נקלטה בהצלחה. ניתן להתעדכן בכל שלבי העיסקה #[a( href=`${link}` ) באזור האישי].
