doctype html
html(lang='en')
    head
        title הודעה על סיום עיסקה
    body
        h2 הודעה על סיום עיסקה
        p.
            שמחים לעדכן שעיסקה מס' #{transactionId} הסתיימה בהצלחה. נתראה בעיסקה הבאה.