doctype html
html(lang='en')
    head
        title עיסקה ממתינה לאישורך
    body
        h2 עיסקה ממתינה לאישורך
        p.
           הוזמנת לעיסקה ע"י #{inChargeUserFullName}. יש לאשר את פרטי העיסקה #[a( href=`${link}` ) באזור האישי].