doctype html
html(lang='en')
    head
        title אישור פתיחת עיסקה
    body
        h2 אישור פתיחת עיסקה
        p.
           העיסקה שפתחת נקלטה בהצלחה במערכת סייפשור. ניתן לעקוב ולהתעדכן על התקדמות העיסקאות #[a( href=`${link}` ) באזור האישי].