doctype html
html(lang='en')
    head
        title עידכון על אישור הזמנה לעיסקה
    body
        h2 עידכון על אישור הזמנה לעיסקה
        p.
           #{inChargeUserFullName} אישר את העיסקה. ניתן להתעדכן בהתקדמות העיסקה #[a( href=`${link}` ) באזור האישי].